__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
node_modules/
frontend/node_modules/
frontend/dist/
*.db
*.sqlite
*.sqlite3
OllamaSetup.exe
staging/
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
*.log
nssm_*.txt
screenshots/
rvtools_exports/
*.pptx
*.pfx

*.msi
*.pdf
*.vmdk
staging/

.env
backend/.env
*.env
